@use "../../styles/UI-commons.scss" as commonUi;

.homepage__selectTest {
  background-color: var(--homepage-select-background-color);
  margin: 0;
  text-align: center;
  padding-bottom: 2rem;

  .text__section {
    padding: 1rem 0;

    h1 {
      width: 80%;
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }

  .hr {
    @include commonUi.default-Ui("hr");
  }

  .contents__section {
    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .card__section {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 2rem;
    justify-content: center;
  }
}
