@mixin page-intro($page: "home") {
  display: flex;
  width: 100%;
  height: 30rem;
  justify-content: space-between;
  align-items: center;

  @if ($page== "home") {
    background-color: var(--homepage-intro-background-color);
  } @else if($page== "number") {
    background-color: var(--testNumber-intro-background-color);
  } @else if($page== "dogs") {
    background-color: var(--dogs-intro-background-color);
  } @else if($page== "all-dogs") {
    background-color: var(--alldogs-intro-background-color);
  } @else if($page== "disc") {
    background-color: var(--testDisc-intro-background-color);
  }

  &__text {
    margin-left: 3rem;
    margin-right: 2rem;
    & h1 {
      margin-right: 4rem;
      font-size: 3rem;
      @if ($page== "home") {
        color: var(--homepage-intro-font-color);
      } @else if ($page== "number") {
        color: var(--testNumber-intro-font-color);
      } @else if ($page== "dogs") {
        color: var(--dogs-intro-font-color);
      } @else if ($page== "all-dogs") {
        color: var(--alldogs-intro-font-color);
      } @else if ($page== "disc") {
        color: var(--testDisc-intro-font-color);
      }
    }
    & p {
      margin-left: 2rem;
      margin-right: 5rem;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
    }
    & hr {
      width: 20%;
    }
  }
  &__image {
    margin-right: 3rem;
    & img {
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
