.dogCard {
  display: grid;
  margin: 1rem 0.5rem;
  align-items: center;
  grid-template-columns: 35% 65%;
  background-color: var(--dogs-card-background-color);
  border-radius: 10px;
  width: 40rem;
  height: 13rem;
  box-shadow: 1px 1px 3px rgba(165, 42, 42, 0.443);

  .loading__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 10px;
      margin: auto;
      transition: all 200ms ease-in-out;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .image__section {
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 10px;
      margin: auto;
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  .description__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

    div {
      display: grid;
      grid-template-columns: 35% 65%;
      align-items: center;

      label {
        text-align: left;
        padding: 0 0.2rem;
        margin: 0.5rem 0;
        color: var(--dogs-card-label-font-color);
        font-weight: 600;
        flex-shrink: 0;
      }
      p {
        word-break: break-word;
        display: flex;
        align-items: center;
        width: 15rem;
        padding: 0;
        margin: 0;
        text-align: left;
        color: var(--dogs-card-text-font-color);
        font-weight: 500;
      }
    }
  }
}
