.dogCard {
  display: flex;

  .description__section div {
    display: flex;

    label {
      padding: 0 0.2rem;
      margin: 0.2rem;
      background-color: brown;
      color: white;
      display: flex;
      align-items: center;
    }
    p {
      background-color: blue;
      color: white;
    }
  }
}
