.selectCard {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 21rem;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 3px 3px rgba(32, 68, 83, 0.299);
  background-color: var(--homepage-select-card-background-color);
  border-radius: 10px;
  transition: all 200ms ease-in-out;

  &__text {
    text-decoration: none !important;
    & h1,
    p {
      color: var(--homepage-select-card-font-color);
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  &:hover {
    transform: scale(1.03);
    & h1,
    p {
      color: var(--homepage-select-card-font-color-hover);
    }
    background-color: var(--homepage-select-card-background-color-hover);
  }
}
