@use "../../styles/UI-commons.scss" as commonUi;

.dogsMatch {
  padding: 1rem;
  background-color: var(--dogs-match-background-color);
  text-align: center;

  hr {
    @include commonUi.default-Ui("brown__hr");
  }

  .info__section {
    width: 80%;
    margin: 3rem auto;
    h2 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: rgb(65, 65, 65);
      span {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgb(203, 49, 230);
      }
    }
  }
  .choose__section {
    margin: 3rem 0;
    button {
      @include commonUi.default-Ui("size__button");
      margin: 0 1rem;
    }
  }
  .cards__section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .sub__section > p {
      font-size: 1.5rem;
      width: 15rem;
      padding: 0 2rem;
      margin: 2rem auto;
      border-radius: 10px;
      background-color: orange;
    }
  }
}
