@use "../../styles/UI-commons.scss" as commonUi;

.test-number__testing {
  background-color: var(--testDisc-testing-background-color);
  margin: 0;
  text-align: center;

  .description__section {
    padding: 1rem;
  }

  .testing__section {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .question {
      background-color: var(--testDisc-testing-question-background-color);
      width: 100%;
      height: 20rem;
      margin: 2rem 0;
      border-radius: 20px;

      .questionList {
        display: flex;
        justify-content: space-between;
        max-width: 40rem;
        margin: 3rem auto;
        button {
          @include commonUi.default-Ui("disc-testing__button");
        }
      }
    }
  }
  .result__section {
    width: 80%;
    max-width: 60rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--testDisc-testing-question-background-color);

    button {
      margin: 0 2rem;
    }

    &__submit {
      @include commonUi.default-Ui("disc-testing__button");
      background-color: var(--testDisc-testing-submit-button-color);
      &:hover {
        background-color: var(--testDisc-testing-submit-button-color-hover);
      }
    }

    &__retry {
      @include commonUi.default-Ui("disc-testing__button");
      background-color: var(--testDisc-testing-retry-button-color);
      &:hover {
        background-color: var(--testDisc-testing-retry-button-color-hover);
      }
    }
  }
}
