@use "../../styles/UI-commons.scss" as commonUi;

.test-number__testing {
  background-color: var(--testDisc-testing-background-color);
  margin: 0;
  text-align: center;
  padding: 2rem;

  .description__section {
    padding: 1rem;
    p {
      width: 80%;
      max-width: 55rem;
      margin: 1.5rem auto;
      font-size: 1.2rem;
    }
  }

  .testing__section {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .question {
      background-color: var(--testDisc-testing-question-background-color);
      width: 100%;
      margin: 2rem 0;
      border-radius: 20px;
      p {
        margin: 0.2rem auto;
        font-size: 1.1rem;
      }

      .questionList {
        &__buttons {
          margin: 3rem auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          max-width: 40rem;
          button {
            @include commonUi.default-Ui("disc-testing__button");
            margin: 1rem auto;
          }
        }
      }
    }
  }
  .result__section {
    width: 80%;
    max-width: 60rem;
    height: 30rem;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--testDisc-testing-question-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4rem 0;

      button {
        margin: 0 2rem;
      }

      .submit {
        @include commonUi.default-Ui("disc-testing__button");
        background-color: var(--testDisc-testing-submit-button-color);
        &:hover {
          background-color: var(--testDisc-testing-submit-button-color-hover);
        }
      }

      .retry {
        @include commonUi.default-Ui("disc-testing__button");
        background-color: var(--testDisc-testing-retry-button-color);
        &:hover {
          background-color: var(--testDisc-testing-retry-button-color-hover);
        }
      }
    }
  }
}
