.test-number__testing {
  background: linear-gradient(
      150deg,
      rgba(210, 201, 107, 0.8),
      rgba(111, 113, 0, 0.541) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(183, 136, 54, 0.8),
      rgba(187, 167, 116, 0.492) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(127, 93, 20, 0.852),
      rgba(220, 159, 26, 0.708) 70.71%
    );
  margin: 0;
  text-align: center;
  padding: 3rem 0;

  .description__section {
    width: 80%;
    max-width: 46rem;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--testNumber-intro-font-color);
  }

  .testing__section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .number__card {
      width: 10rem;
      height: 12rem;
      box-shadow: 2px 2px 2px 2px white;
      margin: 2rem;
      text-align: center;
      background-color: white;
      transition: all 200ms ease-out;

      &:hover {
        transform: scale(1.03);
        cursor: pointer;
      }

      .text {
        width: 80%;
        font-weight: 600;
        text-align: center;
        margin: 0.5rem auto;
      }

      @for $i from 0 through 9 {
        .number__#{$i} {
          font-size: 5rem;
          font-weight: 800;
          margin: 0 auto;
          padding: 0;
          @if ($i ==0) {
            color: rgb(38, 144, 24);
          }
          @if ($i ==1) {
            color: rgb(246, 48, 48);
          }
          @if ($i ==2) {
            color: rgb(227, 224, 50);
          }
          @if ($i ==3) {
            color: rgb(0, 60, 128);
          }
          @if ($i ==4) {
            color: rgb(231, 179, 65);
          }
          @if ($i ==5) {
            color: rgb(222, 132, 100);
          }
          @if ($i ==6) {
            color: rgb(107, 107, 107);
          }
          @if ($i ==7) {
            color: rgb(121, 21, 111);
          }
          @if ($i ==8) {
            color: rgb(46, 77, 255);
          }
          @if ($i ==9) {
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
